#root {
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  color: black;
  background-color: rgba(173, 216, 230);
}

body {
  margin: 0;
  display: flex;
  place-content: center;
  min-width: 1000px;
  min-height: 100vh;
} 

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 2em;
  height: 15em;
  width: 500px;
  background-color: rgba(255,182,193, 0.7);
  margin: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  perspective: 1000px;
  position: relative;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  display: flex;
  align-items: center;
}

.card.flipped{
  transform: rotateX(180deg);
}

.flip-card-front, .flip-card-back {
  backface-visibility: hidden;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 100%;
}

.flip-card-back {
  transform: rotateX(180deg); 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.read-the-docs {
  color: #888;
}

